<!DOCTYPE html>
<meta name="robots" content="noindex, nofollow">
<html lang="ja">

<head>
    <link href="../static/style.css" rel = "stylesheet" />
</head>

<body>
    <header>
        <h1>Play with Python 管理画面</h1>
        <a href="{{ url_for('admin_logout') }}">ログアウト</a>
    </header>
        <main>
            <p><a href="/admin/add">新規問題を登録</a></p>
            <p><a href="/admin/edit">登録済みの問題を個別に編集</a></p>
            <p><a href="/admin/edit_all">登録済みの問題の全てを編集</a></p>
            

        </main>

</body>
</html>